<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-4.0.xsd">
    
	<http auto-config="true">
		<intercept-url pattern="/dashboard.html"
	                   access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN', 'ROLE_LDAP_${data.flow.monitoring.ldap.returnedRole}')" />
	   <http-basic />
	</http>
    
    <ldap-server url="${data.flow.monitoring.ldap.server}" root="${data.flow.monitoring.ldap.root}" />
	
	<authentication-manager alias="authenticationManager">
		<authentication-provider>
			<user-service>
				<user name="admin" password="password" authorities="ROLE_ADMIN" />
				<user name="dfm" password="mfd" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
		<ldap-authentication-provider role-prefix="ROLE_LDAP_"
			user-dn-pattern="${data.flow.monitoring.ldap.userDnPattern}"
			group-role-attribute="${data.flow.monitoring.ldap.groupRoleAttribute}"
			group-search-base="${data.flow.monitoring.ldap.groupSearchBase}" />
	</authentication-manager>

</beans:beans>